
<div class="row bg-primary text-white mt-5 p-3">
    <div class="col-sm-12 col-lg-4">
        <h3>Invitación</h3>
        <p> Somos una empresa que busca soluciones innovadoras,
            te invitamos a contactarnos y descubrir tu mejor
            opción.
        </p>
    </div>

    <div class="col-sm-12 col-lg-4">
        <a class="nav-link text-white" href="#" style="font-size:21px"><i class="far fa-envelope"></i> soporte@movilmatica.com</a>
        <a class="nav-link text-white" href="#" style="font-size:21px"><i class="fas fa-phone-square"></i> +57 3208903960</a>
        <a class="nav-link text-white" href="#" style="font-size:21px"><i class="fas fa-mobile-alt"></i> +57 3208903960</a>
    </div>

    
        
    <!--solo visible para escritorio--> 
    <div class="d-none d-sm-none d-md-block col-lg-4">
            
                    <a class="nav-link text-white" href="#" style="font-size:21px"><i class="fab fa-facebook"></i> movilmatica.com</a>
                    <a class="nav-link text-white" href="#" style="font-size:21px"><i class="fab fa-instagram"></i>  movilmatica.com</a>
                    <a class="nav-link text-white" href="#" style="font-size:21px"><i class="fab fa-whatsapp"></i> +57 3208903960</a>
               
     </div>
     
     <!--solo visible para smartPhone-->
     <div class="d-block d-sm-block d-md-none">
            
            <div class="row mx-5">
                <div class="col-sm-4"style="width:70px"><a class="nav-link text-white" href="#" style="font-size:30px"><i class="fab fa-facebook-square"></i></a></div>
                <div class="col-sm-4"style="width:70px"><a class="nav-link text-white" href="#" style="font-size:30px"><i class="fab fa-whatsapp"></i></a></div>
                <div class="col-sm-4"style="width:70px"><a class="nav-link text-white" href="#" style="font-size:30px"><i class="fab fa-instagram"></i></a></div>
             </div>
     </div>
    

   
</div>

