<div class="row mt-4">
  <div class="col-md-1 col-lg-4">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title text-center">Asesoramos</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Atendemos las necesidades planteadas por los clientes,
               como principal objetivo, se toma atenta nota del problema y se inicia 
               un proceso de busqueda de soluciones que brinden las mayores ventajas. </p>
            <a href="#" class="btn btn-primary">Ingresa tu consulta</a>
          </div>
        </div>
  </div>

  <div class="col-md-1 col-lg-4">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title text-center">Desarrollamos</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Luego de prestar la correcta asesoría, iniciamos
               un proceso de desarrollo de la solución. Compartiendo avances con 
               nuestros clientes, construimos la idea con la ayuda de las 
               tecnologías de la información y comunicación (TIC) </p>
            </div>
        </div>
  </div>

  <div class="col-md-1 col-lg-4">
      <div class="card">
          <div class="card-header">
              <h3 class="card-title text-center">Implementamos</h3>
          </div>
          <div class="card-body">
            <p class="card-text">Consiste en materializar el producto final que 
               da soporte al problema planteado. Se inicia un proceso de ayuda
               y acompañamiento con el fin de estar atentos en caso de ser
               solicitado por el cliente. </p>
          </div>
        </div>
  </div>
</div>