
  <p class="display-3 text-center m-4">Nuestros Productos</p>

<div class="row">
  <div class="col-md-12 col-lg-4">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="assets/images/vigilante.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nombre proyecto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary"><i class="fas fa-check-circle"></i> visitar</a>
      </div>
    </div>
   </div>

   <div class="col-md-12 col-lg-4">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="assets/images/vigilante.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nombre proyecto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary"><i class="fas fa-check-circle"></i> visitar</a>
      </div>
    </div>
   </div>

   <div class="col-md-12 col-lg-4">
    <div class="card mx-auto" style="width: 18rem;">
      <img src="assets/images/vigilante.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Nombre proyecto</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary"><i class="fas fa-check-circle"></i> visitar</a>
      </div>
    </div>
   </div>

</div>